---
import { Icon } from "astro-icon/components";
---

<footer
    class="footer sm:footer-horizontal bg-base-200 text-neutral-content p-10 mt-20"
>
    <aside>
        <img src="/favicon.svg" width="90" height="90" alt="Logo" />
        <p>
            Hecho con ❤️ por el <span class="font-bold">GDG Guadalajara</span>
        </p>
    </aside>
    <nav>
        <h6 class="footer-title">Social</h6>
        <div class="grid grid-flow-col gap-4 items-center">
            <a href="https://www.instagram.com/gdg_guadalajara" target="_blank">
                <Icon name="instagram" class="text-5xl" />
            </a>
            <a
                href="https://www.linkedin.com/company/gdgguadalajara"
                target="_blank"
            >
                <Icon name="linkedin" class="text-5xl" />
            </a>
            <a href="https://github.com/gdgguadalajara" target="_blank">
                <Icon name="github" class="text-5xl" />
            </a>
            <a href="https://gdg.community.dev/gdg-guadalajara" target="_blank">
                <Icon name="google" class="text-4xl" />
            </a>
        </div>
    </nav>
</footer>
