<section class="flex flex-col gap-3">
    <span class="text-rotate text-5xl">
        <span class="justify-items-center">
            <span>TU NEGOCIO</span>
            <span>TUS REGLAS</span>
            <span>TUS DATOS</span>
        </span>
    </span>
    <p>
        El primer sistema de Punto de Venta (POS) profesional verdaderamente
        libre. Open Source, gratuito para siempre y diseñado para ejecutarse en
        tu propio equipo. Recupera el control y olvídate de las rentas
        mensuales.
    </p>
    <div class="flex flex-col lg:flex-row gap-3 mt-3">
        <a
            href="https://github.com/gdgguadalajara/pos"
            target="_blank"
            class="btn btn-lg btn-primary"
        >
            Ver Código en GitHub
        </a>
        <a href="#gallery" class="btn btn-lg btn-primary btn-outline"
            >Ver Galería de Pantallas</a
        >
    </div>
</section>
